@model InventoryManagementCore.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<style>

    
    .justify-center{
        display:flex;
        justify-content:center;
        align-content:center;
        align-items:center;
        width:100%
    }
    .label-design{
        font-size:20px
    }
</style>
<div style="margin-top:3%">
    <div class="justify-center">

        <h1>Login</h1>
    </div>
    <div class="justify-center">

        <hr style="background:#007bff;border: 2px solid #007bff;width:47%" />
    </div>
    <div class="row">
        <div class="col-12">
            <div class="login-form-wrapper">

                <form method="post">
                    <div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group" style="width:100%;margin-left:26.5%">
                            <label class="label-design" asp-for="UserName"></label>
                        </div>
                        <div class="form-group justify-center">

                            <input asp-for="UserName" class="form-control" style="border:1px solid black; width:47%;" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width:100%;margin-left:26.5%">
                            <label class="label-design" asp-for="password"></label>
                        </div>
                        <div class="form-group justify-center">

                            <input asp-for="password" class="form-control" style="border:1px solid black; width:47%;" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group justify-center">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="justify-center">

                            <button type="submit" class="justify-center btn btn-primary" style="width: 47%;">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>