@model InventoryManagementCore.Models.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create Bill</h1>
<hr style="border: 2px solid #28a745;" />

<div class="row" style="height: 500px;">
    <div class="col-6" style="border: 1px solid black;">
        <div class="row" style="border: 1px solid black; height: 250px;">
            <div class="col">
                <form class="form-wrapper cf">
                    <input type="text" class="search" placeholder="  search customer name here" required style="width: 86%; height: 110%">
                    @*<button type="submit">search</button>*@
                    <button class="btn btn-success btn-add-product" style="display: inline; margin-bottom: 1%;" data-toggle="tooltip" data-placement="top" title="Add New Customer">+</button><br /><br />
                </form>
            </div>
        </div>
        <div class="row" style="border: 1px solid black; height: 250px;">
            <div class="col">
                Rikin
            </div>
        </div>
    </div>
    <div class="col-6" style="border: 1px solid black;">
        jenil
    </div>
</div>